#content h2{
	margin:41px 0 0 0px;
}
.advertise{
	margin:-10px 0 0 -20px;
}
.info-listing td input.txtxx{
	padding: 3px 0 0 12px;
}
.calander-icon{
	margin: -15px 0 0 10px;
}
span.mandatory{
	vertical-align:bottom;
}
#home-wrap{
	background:url(images/bg-home-content.gif) no-repeat 4px 9px;
}
#sidebar-left ol li{
	float:left;
}
.user-info{
	margin:137px 0 0 225px;
}
.features-listing{
	margin:0 0 20px 0;
}
#inner-content table.profile-listing tr.last td {
	height:38px;
}
#footer ul{
	margin:0px 0 0 10px;
}
