<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>sayHello</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>welcome</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>sayHello</servlet-name>
        <url-pattern>/sayHello</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>welcome</servlet-name>
        <url-pattern>/welcome</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <display-name>SSL</display-name>
        <web-resource-collection>
            <web-resource-name>web resources</web-resource-name>
            <description/>
            <url-pattern>/sayHello</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>authntication</description>
            <role-name>operator</role-name>
            <role-name>optp</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description>https</description>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>SSL2</display-name>
        <web-resource-collection>
            <web-resource-name>welcome</web-resource-name>
            <description/>
            <url-pattern>/welcome</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>optp</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description>https</description>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
    </login-config>
    <security-role>
        <description>just one function</description>
        <role-name>operator</role-name>
    </security-role>
    <security-role>
        <description>two functions</description>
        <role-name>optp</role-name>
    </security-role>
</web-app>
